#playArea {
	background-color: #36A118;
	width: 100%;
	height: 80%;
	border-radius: 500px;
	border-color: brown;
	border-width: 5px;
	border-style: solid;
}

h1 {
	color: royalblue;
	margin-left: 40%;
}

h3 {
	margin-left: 40%;
}

table {
	border-spacing: 10px;
	margin-left: 30%;

}

tr {
}

td {
	width: 64px;
	height: 89px;
}

.card {
	border-radius: 10px;
	border: 1px solid black;
	background-color: white;
}

.topSuit {
	margin-top: -2px;
	margin-left: 2px;
}

.topVal {
	margin-top: 0px;
	margin-left: 2px;
}

.midSuit {
	font-size: 200%;
	float: right;
	margin-right: 21px;
	margin-top: -10px;
}

.botSuit {
	margin-top: 20px;
	margin-right: 2px;
}
.botVal {
	margin-top: 0px;
	margin-right: 2px;
}

.black {
	color: black;
}

.red {
	color: red;
}


.flip {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
